ul {
    display: inline;
}

li {
    list-style: none;
}

.column a {
    padding-bottom: 1px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.column {
    width: 33.3%;
    float: left;
}
