@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src:
        local(".SFNSText"),
        local(".HelveticaNeueDeskInterface"),
        local(".LucidaGrandeUI"),
        local("Ubuntu"),
        local("Segoe UI"),
        local("Roboto"),
        local("DroidSans"),
        local("Tahoma");
}

html {
  background-color: #061619;
  min-width: 368px;
  font-family: system;
}

body {
  height: 100%;
  margin: 0px auto;
}

body > nav {
    color: #dede4d;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: right;
    width: 100%;
}

a {
    color: #dede4d;
    margin-right: 1.5em;
    text-decoration: none;
}

strong {
    color: white;
}

a:hover {
    color: #dede4d;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

a:visited {
    color: #b7cacc;
    background-color: yellow;
    border-bottom-color: #dede4d;
    /*Unable to style a:visited links due to security concerns:
    https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector
    */
}

a:active {
    color: #b7cacc;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sidebar > a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
}

body > footer {
  display: inline-flex;
  left: 0;
  right: 5;
  bottom: 0;
  width: 100%;
  min-width:100%;
  max-width:100%;
  margin:0px;
  padding:0px;
  height:auto;
  color: #b7cacc;
  text-align: left;
  background-color: #021013;
  border-top: 1px solid #144952;
}

footer > .footer-col {
  float: left;
  width: 100%;
  padding: 1em;
  border-right: 1px solid #144952;
}

footer > .footer-col > p {
  line-height: 0.8;
}

body > .sidebar {
  border-right: 1px solid #144952;
  margin-right: 1em;
  padding: 1em;
  background-color: transparent;
  width: 128px;
  height: 680px;
  z-index: 1;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align:top;
  float: left;
  min-height: 680px;
  max-height: 680px;

}

body > #content {
  color:#b7cacc;
  padding: 5px;
  height: 100%;
}

.sidebar > a > .face {
  background-image: url('../images/face256.png');
  background-size: 128px 128px;
  width: 128px;
  height: 128px;
  margin-bottom: 1em;
}

.sidebar > .ad {
  background-color: transparent;
  border: 1px solid #144952;
  width: 128px;
  height: 512px;
}

code {
    color: #dede4d;
}

form > input[type=text] {
    background-color: #132639;
    border: none;
    color: #b7cacc;
    height: 23px;
    padding: 5px;
}

form > input[type=email] {
    background-color: #132639;
    border: 1px solid #144952;
    color: #b7cacc;
    height: 23px;
    padding: 5px;
}

form > input[type=email] > .valid_form {
    background-color: lime;
    border: 1px solid #144952;
    color: #b7cacc;
    height: 23px;
    padding: 5px;
}

form > input[type=email] > .invalid_form {
    background-color: red;
    border: 1px solid #144952;
    color: #b7cacc;
    height: 23px;
    padding: 5px;
}

form > input::placeholder {
    color: #b7cacc;
}

form > input[type=submit] {
    background-color: #132639;
    border: 1px solid #144952;
    width: 72px;
    height: 32px;
    color: #b7cacc;
    border-radius: 4px;
}

form > textarea {
    background-color: #132639;
    border: 1px solid #144952;
    color: #b7cacc;
    max-width: 768px;
    padding: 15px;
    resize: both;
    font-size: 16px;
}

#code-wrapper{
    display: inline-block;
    box-sizing: border-box;
    max-width: 768px;
    padding: 15px;
    font-size: 16px;
    background-color: #132639;
    clear: both;
    border: 1px solid #144952;

    @media (max-width: 767px) {
  			padding: 15px;
  	}
}

#hr {
  border-top: 1px solid #144952;
  display:flex;
}
