.blog_entry{}

.blog_entry a {
    color:#ffffff;
}

.rating {
    text-align: right;
}

strong, bold {
    color: white;
}

code {
    color: #dede4d;
}

#code-wrapper{
    display: inline-block;
    box-sizing: border-box;
    max-width: 768px;
    padding: 15px;
    font-size: 16px;
    background-color: #132639;
    clear: both;

    @media (max-width: 767px) {
  			padding: 15px;
  	}
}
