{% extends "./base.html" %} {% load static %} {% block title %}About{% endblock %} {% block content %}
<div class="about">
  <h1>Who, me?</h1>
  <p>...Yet another software blog, I'm Adam Zerella, the dude who created this site. It started off as a random project, became
    a place to write down how I went about solving tech things and kind of just stuck around. I write
    notes quite frequently, usually ranging from configurations, full-blown migration notes, 
    dev 'Ah hah!' moments and general shenanigans.

    Feel free to subscribe to the mailing list for the latest hotness from my grubby hands or spam articles with 
    how I have done everything wrong and how my photo is too sensual.
  </p>
</div>
{% endblock %}