{% extends "./base.html" %}
{% load static %}

{% block title %}About{% endblock %}
{% block css_file_static %}{% static 'app/stylesheets/about.css'%}{% endblock %}

{% block content %}
<div class="about">
  <h1>Who, me?</h1>
  <p>Fusce commodo turpis et vulputate pretium. Quisque tincidunt, lorem
  ullamcorper varius feugiat, nunc libero faucibus sapien, vitae egestas nisl
  sem quis orci. Vivamus eleifend urna eget gravida tempus. Maecenas vestibulum
  velit sit amet orci ultricies euismod.
  </br></br>Vivamus convallis tempus mauris et
  eleifend. In tortor tellus, malesuada nec lacinia ut, viverra quis sapien.
  Sed massa orci, consectetur sit amet bibendum vel, lacinia a lorem.
  Morbi eu quam imperdiet, ornare justo eget, tincidunt est.
  Phasellus ultrices bibendum arcu, et ultrices neque fermentum vel.</p>

  <p>Fusce commodo turpis et vulputate pretium. Quisque tincidunt, lorem
  ullamcorper varius feugiat, nunc libero faucibus sapien, vitae egestas nisl
  sem quis orci. Vivamus eleifend urna eget gravida tempus. Maecenas vestibulum
  velit sit amet orci ultricies euismod.
  </br></br>Vivamus convallis tempus mauris et
  eleifend. In tortor tellus, malesuada nec lacinia ut, viverra quis sapien.
  Sed massa orci, consectetur sit amet bibendum vel, lacinia a lorem.
  Morbi eu quam imperdiet, ornare justo eget, tincidunt est.
  Phasellus ultrices bibendum arcu, et ultrices neque fermentum vel.</p>

  <p>Fusce commodo turpis et vulputate pretium. Quisque tincidunt, lorem
  ullamcorper varius feugiat, nunc libero faucibus sapien, vitae egestas nisl
  sem quis orci. Vivamus eleifend urna eget gravida tempus. Maecenas vestibulum
  velit sit amet orci ultricies euismod.
  </br></br>Vivamus convallis tempus mauris et
  eleifend. In tortor tellus, malesuada nec lacinia ut, viverra quis sapien.
  Sed massa orci, consectetur sit amet bibendum vel, lacinia a lorem.
  Morbi eu quam imperdiet, ornare justo eget, tincidunt est.
  Phasellus ultrices bibendum arcu, et ultrices neque fermentum vel.</p>
</div>
{% endblock %}
